*{


    padding: 0px; /* zerei o padding*/
    margin: 0px; /*zerei o margin*/
    box-sizing: border-box; /*zerei*/
    
    display: flex; /* um ao lado do outro*/
    justify-content: space-between;

}


.cabecalho{

    width: 100vw; /* 100 da horizontal */
    height: 71px;
background-color:#3750B3;

}

.cabecalho p{

color: white;
margin-right: 20px;

}

.left{

    margin-left: 80px;
}

.right{

    display: flex;
margin-right: 60px;
}
